/* Set background color for the full page */


div.pageContainer {
  width: 100%;
  background-color: white;
}

p.text {
  color: black;
  font-size: 20px;
}

div.chartContainer1 {
  width: 60%;
  margin: 0px auto;
}

div.chartContainer2 {
  width: 60%;
  margin: 20px auto;
  max-height: 600px;
}
/* Set background color and dimensions for the charts */
#tableauViz1 {
  margin-top: 50px;
}

#tableauViz2 {
  margin-top: 50px; /* adjust as needed */
}

div.textContainer {
  width: 60%;
  margin: 90px auto 0px auto;
  padding-bottom: 90px;
}

div.textContainer h2 {
  color: black;
  font-size: 24px;
  font-weight: bolder;
  padding-bottom: 10px;
}

.backgroundImage {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1617494532490-297fc0eb515e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-size: cover;
  background-position: center center;
}

.backgroundImage2 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1541710005980-7ea80ff232d6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80');
  background-size: cover;
  background-position: center center;
}

.backgroundImage .textContainer {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 60%;
  padding: 40px;
  transform: translate(-45%, -50%);
  text-align: center;
  background-color: white;
}

.backgroundImage2 .textContainer {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 60%;
  padding: 40px;
  transform: translate(-45%, -50%);
  text-align: left;
  background-color: white;
}

.backgroundImage .textContainer p {
  color: black;
  font-size: 20px;
  padding-bottom: 10px;
  text-align: justify;
}

.backgroundImage2 .textContainer p {
  color: black;
  font-size: 20px;
  padding-bottom: 10px;
  text-align: justify;
}


.backgroundImage .textContainer h2 {
  color: black;
  font-size: 24px;
  font-weight: bolder;
  padding-bottom: 10px;
}

.button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.button:hover {
  background-color: darkblue;
}

div.buttonContainer {
  margin-top: 10px;
  padding-bottom: 50px;
}


@media (max-width: 768px) {
  /* Set responsive dimensions for mobile */
  .tableauViz {
    width: 95%;
    height: 300px;
  }
}
