/* Set background color for the full page */

div.pageContainer {
  background-color: beige;
}

p.text {
  color: black;
}

div.chartContainer {
  background-color: beige;
  width: 80%;
  margin: 0 auto;
}
/* Set background color and dimensions for the charts */
#tableauViz1 {
  height: 1000px;
}

#tableauViz2 {
  margin-top: 50px; /* adjust as needed */
  height: 500px;
}

@media (max-width: 768px) {
  /* Set responsive dimensions for mobile */
  .tableauViz {
    width: 95%;
    height: 300px;
  }
}
